p {
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
}
h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: georgia;
	
}
body {
	background-image: url(https://upload.wikimedia.org/wikipedia/it/e/ee/BTSWorld.jpg);
	background-position: 50% 20%;
}



p {font-family: georgia;}
h2{
	font-family: geogia;
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
}

.perso { 
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: NotoSans_Light, NotoSansKR_Light;
	font-size: 18px;
	font-style: normal;
	height: 46px;
	letter-spacing: normal;
	line-height: 46px;
	margin-bottom: 0px;
	margin-left: 28px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 25px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 85px;
}

.bts {
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: NotoSans_Light, NotoSansKR_Light;
	font-size: 18px;
	font-style: normal;
	height: 46px;
	letter-spacing: normal;
	line-height: 46px;
	margin-bottom: 0px;
	margin-left: 28px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 50px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 85px;
}

.concert {
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
	font-size: 18px;
	font-style: normal;
	height: 46px;
	letter-spacing: normal;
	line-height: 46px;
	margin-bottom: 0px;
	margin-left: 28px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 85px;
	top: 0px;
	
	position: absolute;
}


.bts:hover{
	background-color: none;
	color: white;
}

a:hover{
	background-color:  ;
	text-decoration:none!important;
	font-style:italic;
	color: white;
}

a.nounderline:link { 
	text-decoration: none; 
} 

span{
	-webkit-font-smoothing: subpixel-antialiased;
	color: rgb(115, 115, 115);
	display: inline;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
	font-size: 11px;
	height: auto;
	line-height: 16px;
	width: auto;
	
} 

#fin {
  position : absolute;
  bottom : 0px;
}

.Accueil {
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: NotoSans_Light, NotoSansKR_Light;
	font-size: 18px;
	font-style: normal;
	height: 46px;
	letter-spacing: normal;
	line-height: 46px;
	margin-bottom: 0px;
	margin-left: 28px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 2000px;
}

body{width:100%;
	margin:auto;
	min-width:600px;
	max-width:2000px;
}

.logo {
	-webkit-font-smoothing: antialiased;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 13px;
background-size: contain;
box-sizing: border-box;
color: rgb(34, 34, 34);
cursor: auto;
display: inline-block;
font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 600;
height: 54px;
line-height: 54px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 18px;
padding-right: 18px;
padding-top: 0px;
text-align: left;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.1s;
transition-property: background-color;
transition-timing-function: ease;
vertical-align: middle;
white-space: nowrap;
width: 126px;
top: 0px;
}

li {
cursor: pointer;
}

.prof {
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: NotoSans_Light, NotoSansKR_Light;
	font-size: 18px;
	font-style: normal;
	height: 46px;
	letter-spacing: normal;
	line-height: 46px;
	margin-bottom: 0px;
	margin-left: 28px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 160px;
	padding-right: 25px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 85px;
}





